ul {
  list-style-type: none;
}

.upper-margin {
  margin-top: 75px;
}

.user-profile {
  text-align: center;
  margin-bottom: 10px;
}

.wordlist-menu {
  text-align: center;
}

.wordlist-menu-row {
  margin-bottom: 10px;
}

.category-word-entries {
  margin-bottom: 5px;
}

.category-list {
  margin-bottom: 25px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.category {
  margin-bottom: 15px;
}

.category-picture {
  margin-top: 40px;
}