ul {
  list-style-type: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.upper-margin {
  margin-top: 75px;
}

.user-profile {
  text-align: center;
  margin-bottom: 10px;
}

.wordlist-menu {
  text-align: center;
}

.wordlist-menu-row {
  margin-bottom: 10px;
}

.category-word-entries {
  margin-bottom: 5px;
}

.category-list {
  margin-bottom: 25px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.category {
  margin-bottom: 15px;
}

.category-picture {
  margin-top: 40px;
}

.answers {
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.word {
  margin-left: 160px;
  margin-top: 40px;
}

.word-answers {
  border: solid;
  height: 130px;
}

.table-alignment {
  text-align: center;
}

.results {
  margin-left: 25px;
}

.result-avatar {
  margin-top: 35px;
  margin-left: 220px;
  border: solid;
}

.lesson-submit {
  margin-right: 30px;
  margin-top: 30px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.user-index {
  margin-left: 80px !important;
}

.total-learned {
  margin-bottom: 25px;
  margin-top: 10px;
  border: solid;
  width: 180px;
  margin-left: 100px;
}
.activity-content {
  margin-left: 55px;
  margin-bottom: 15px;
}