<footer class="footer">
  <small>
    <%= t ".footer_title" %>
  </small>
  <nav>
    <ul>
      <small>
        <%= link_to t(".button_about"), about_path %>
      </small>
    </ul>
  </nav>
</footer>